{% extends "layout/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Attendance</h1>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li><a href="/">Home</a></li>
                <li class="active">Attendance</li>
            </ol>
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Daftar Hadir Anda
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="/daftar_hadir/" method="POST" role="form" class="form-inline">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>year</label>
                                    <select name="tahun" class="form-control">
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2018">2018</option>
                                        <option value="2017">2017</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Month</label>
                                    <select name="bulan" class="form-control">
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">Oktober</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </form>
                            <br />
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <td>Date</td>
                                        <td>Status</td>
                                        <td>Clock In</td>
                                        <td>Clock Out</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if daftar_hadir %}
                                    {% for hadir in daftar_hadir %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ hadir.waktu }}</td>
                                        <td>
                                            {% if hadir.jenis_kehadiran == 'hadir' %}
                                            <span class="label label-success">{{ hadir.jenis_kehadiran }}</span>
                                            {% else %}
                                            <span class="label label-danger">{{ hadir.jenis_kehadiran }}</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ hadir.jam_masuk }}</td>
                                        <td>{{ hadir.jam_pulang }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="5">No Attendance This Month</td>
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                                <br />
                                {% if daftar_hadir %}
                                <a href="/grafik/{{ bulan }}/{{ tahun }}" class="btn btn-info"><i class="fa fa-bar-chart-o"></i> Show Graphic</a>
                                <a href="/pdf/{{ bulan }}/{{ tahun }}" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Print PDF</a>
                                {% endif %}
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}