{% extends "layout/base.html" %}
{% load kehadiran_helper %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Leave List</h1>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li><a href="/">Home</a></li>
                <li class="active">Leave List</li>
            </ol>
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <i class="fa fa-bar-chart-o fa-fw"></i> List of your leave submission
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <td>Leave Type</td>
                                            <td>Start Date</td>
                                            <td>End Date</td>
                                            <td>Reason</td>
                                            <td>Approved</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for izin in daftar_izin %}
                                        <tr>
                                            <td>{{ forloop.counter|get_table_number:daftar_izin.number }}</td>
                                            <td>{{ izin.jenis_kehadiran }}</td>
                                            <td>{{ izin.waktu_mulai }}</td>
                                            <td>{{ izin.waktu_berhenti }}</td>
                                            <td>{{ izin.alasan }}</td>
                                            <td>
                                            {% if izin.disetujui %}
                                                <span class="label label-success">Sudah</span>
                                            {% else %}
                                                <span class="label label-danger">Belum</span>
                                            {% endif %}
                                            </td>f
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!--/. table-responsive -->

                            <ul class="pager">
                                {% if daftar_izin.has_previous %}
                                    <li class="previous">
                                        <a href="?page={{ daftar_izin.previous_page_number }}">Previous</a>
                                    </li>
                                {% endif %}

                                <li class="current">
                                    Page {{ daftar_izin.number }} of {{ daftar_izin.paginator.num_pages }}
                                </li>

                                {% if daftar_izin.has_next %}
                                <li class="next">
                                    <a href="?page={{ daftar_izin.next_page_number }}">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}