{% extends "layout/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Annual Leave Submission Form</h1>
            <ol class="breadcrumb" style="margin-bottom:5x;">
                <li><a href="/">Home</a></li>
                <li class="active">Add New Leave</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Silahkan buat pengajuan kenapa tidak masuk kerja
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <form action="/pengajuan_izin/" method="POST" role="form">
                        {% csrf_token %}
                        <div class="form group col-md-4">
                            <label>{{ form.jenis_kehadiran.label }}</label><br>
                            {{ form.jenis_kehadiran }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{ form.waktu_mulai.label }}</label>
                            {{ form.waktu_mulai }}
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{ form.waktu_berhenti.label }}</label>
                            {{ form.waktu_berhenti }}
                        </div>
                        <div class="form-group">
                            <label>{{ form.alasan.label }}</label><br>
                            {{ form.alasan }}
                        </div>
                        {{ form.path }}
                        <!-- {{ form.as_p }} -->
                        <br /><br />
                        <input type="submit" class="btn btn-primary" value="Submit" />
                        <button type="reset" class="btn btn-danger"><i class="glyphicon glyphycon-back"></i> Reset</button>
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}