{% extends "layout/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Attendance Graphic</h1>
            <ol class="breadcrumb" style="margin-bottom: 5px">
                <li><a href="/">Home</a></li>
                <li><a href="/daftar_hadir">Attendance</a></li>
                <li class="active">Graphic for {{ bulan }}/{{ tahun }}</li>
            </ol>
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-devault">
                    <div class="panel-heading">
                        Attendance Graphic in {{ bulan }} / {{ tahun }}
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div id="morris-bar-chart"></div>
                        <div id="chart_data" style="display:none;">
                            {{ chart_data }}
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.row -->
{% endblock %}
{% block inline_js %}
<script type="text/javascript">
    $(function() {
        var chart_data = JSON.parse($('#chart_data').html());

        Morris.Bar({
            element: 'morris-bar-chart',
            data: chart_data.data,
            xkey: 'x',
            ykey: ['a'],
            labels: ['Jumlah'],
            hideHover: 'auto',
            resize: true
        });
    });
</script>
{% endblock %}