{% extends "layout/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Profil</h1>
            <ol class="breadcrumb" style="margin-bottom: 5px;">
                <li class="active">Home</li>
            </ol>
            <br />
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Hi, {{ request.session.username }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div vlass="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.nama }}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.alamat }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sex</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.jenis_kelamin }}</td>
                                    </tr>
                                    <tr>
                                        <td>Employee Type</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.jenis_karyawan }}</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.no_telepon }}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.email }}</td>
                                    </tr>
                                    <tr>
                                        <td>Division</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.divisi.nama }}</td>
                                    </tr>
                                    <tr>
                                        <td>Position</td>
                                        <td style="width:10px;">:</td>
                                        <td>{{ karyawan.jabatan.nama }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
{% endblock %}