<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini HRD</title>
</head>
<body>
    <h1>Please Login</h1>
    <form>
        <h1>Your Profile ({{ request.session.jenis_akun }})</h1>
        <p>Hi, {{ request.session.username }}</p>
        <p>Name: {{ karyawan.nama }}</p>
        <p>address: {{ karyawan.alamat }}</p>
        <p>Sex/Gender: {{ karyawan.jenis_kelamin }}</p>
        <p>Employee Type: {{ karyawan.jenis_karyawan }}</p>
        <p>Phone Number: {{ karyawan.no_telepon }}</p>
        <p>Email: {{ karyawan.email }}</p>
        <p>Divisi: {{ karyawan.divisi.nama }}</p>
        <p>Position: {{ karyawan.jabatan.nama }}</p>
        <p> <a href="/logout/">Log Out</a> |
            <a href="/daftar_hadir/">Attendance</a>
            <a href="/pengajuan_izin/">Annual Leave Submission</a>
            <a href="/daftar_izin/">Annual Leave list</a>
        </p>
    </form>
</body>
</html>