{% extends "layout/base-login.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Mini HRD - Please Login</h3>
                </div>
                <div class="panel-body">
                    <form action=/login/" method="POST" role="form">
                        {% csrf_token %}
                        {% if messages %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" value="" placeholder="please input your username"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" value="" placeholder="please input your password"
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Log In" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}