<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini HRD</title>
</head>
<body>
 <h1>Login Please</h1>
 <form action="/login/" method="POST">
     {% csrf_token %}

     {% if messages %}
      <ul>
          {% for message in messages %}
           <li>{{ message }}</li>
          {% endfor %}
      </ul>
     {% endif %}

     <p>Username: <input type="text" name="username" value="" placeholder="please input your username..."/></p>
     <p>Password: <input type="password" name="password" value="" placeholder="please input your password..."/></p>
     <p><input type="submit" value="Log In" /></p>
 </form>
</body>
</html>