<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini HRD</title>
</head>
<body>
    <h1>Attendance</h1>
    <form action="/daftar_hadir/" method="POST">
        {% csrf_token %}
        <select name="tahun">
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
        </select>
        <select name="bulan">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <input type="submit" value="Show" />
    </form>
    <br/>
    <table border="1">
        <thread>
            <tr>
                <td>No</td>
                <td>Date</td>
                <td>Status</td>
                <td>Clock In</td>
                <td>Clock Out</td>
            </tr>
        </thread>
        <tbody>
            {% if daftar_hadir %}
                {% for hadir in daftar_hadir %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ hadir.waktu }}</td>
                    <td>{{ hadir.jenis_kehadiran }}</td>
                    <td>{{ hadir.jam_masuk }}</td>
                    <td>{{ hadir.jam_pulang }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No attendance right now</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <p><a href="/">Back to Profile</a></p>
</body>
</html>