<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini HRD</title>
</head>
<body>
<h1>Annual Leave List</h1>
<table border="1">
    <thead>
        <tr>
            <td>no</td>
            <td>Type</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Reason</td>
            <td>Approved</td>
        </tr>
    </thead>
    <tbody>
        {% if daftar_izin %}
            {% for izin in daftar_izin %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ izin.jenis_kehadiran }}</td>
                <td>{{ izin.waktu_mulai }}</td>
                <td>{{ izin.waktu_berhenti }}</td>
                <td>{{ izin.alasan }}</td>
                <td>{% if izin.disetujui %}
                Yes
                {% else %}
                Not Approved Yet
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">No Leave Submission</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<p><a href="/">Back to profile</a> </p>
</body>
</html>