<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Annual Leave Form</h1>

    <form action="/pengajuan_izin/" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>

    <p><a href="/">Back to profile</a></p>
</body>
</html>